<section fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Edit Profile</mat-card-title>
    <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="createOwner(ownerForm.value)"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <mat-horizontal-stepper>
          <mat-step>
            <mat-radio-group aria-label="Select an option" class="radi" formControlName="option">
              <mat-radio-button value="company">Company</mat-radio-button>
              <mat-radio-button value="individual">Individual</mat-radio-button>
              <mat-radio-button value="other">Other</mat-radio-button>
            </mat-radio-group>
            <br>
            <mat-icon>perm_identity</mat-icon>
            <mat-form-field>
              <input matInput type="text" placeholder="Country" formControlName="country" id="country">
              <mat-hint align="left">Not more then 60 characters long.</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="text" placeholder="City" formControlName="city" id="city">
              <mat-hint align="left">Not more then 60 characters long.</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="investon">
                <mat-option value="option1">Technology</mat-option>
                <mat-option value="option2">Agriculture</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <div class="discription">Types of investment you have made before</div>
            <div *ngFor="let choice of investmentHaveMade; let i=index" class="invest">
              <label>
                <input type="checkbox" [value]="choice.value" (change)="onCheckChange($event)" >
                {{choice.name}}
              </label>
            </div>
            <br>
            <div class="discription">Types of investment you would like to make</div>
            <div *ngFor="let choice of investmentWant;">
              <label>
                <input type="checkbox" [value]="choice" (change)="onInvestmentWant($event)" >
                {{choice}}
              </label>
            </div>
          </mat-step>
          startupStage
          <mat-step>
            <div class="discription">Stage of startups you target</div>
            <div *ngFor="let choice of startupStage;">
              <label>
                <input type="checkbox" [value]="choice" (change)="onstartupStage($event)" >
                {{choice}}
              </label>
            </div>
            <div class="discription">Your preferred investment ticket size</div>
            <mat-radio-group aria-label="Select an option" formControlName="ticketsize">
              <mat-radio-button value="50000">Below US 50,000$</mat-radio-button>
              <mat-radio-button value="100000">Up to US 100,000$</mat-radio-button>
              <mat-radio-button value="200000">US 100,000-500,000$</mat-radio-button>
              <mat-radio-button value="5000000">US >500,000$</mat-radio-button>
            </mat-radio-group>

            <div class="discription">Your preferred investment ticket size</div>

            <mat-radio-group aria-label="Select an option" formControlName="preferredticketsize">
              <mat-radio-button value="50000">Below US 50,000$</mat-radio-button>
              <mat-radio-button value="100000">Up to US 100,000$</mat-radio-button>
              <mat-radio-button value="200000">US 100,000-500,000$</mat-radio-button>
              <mat-radio-button value="5000000">US >500,000$</mat-radio-button>
            </mat-radio-group>
            <br>
            <br>
            <mat-icon>work</mat-icon>
            <mat-form-field>
              <input matInput type="text" placeholder="Investment thesis" formControlName="thesis" id="thesis">

            </mat-form-field>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Edit Profile</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>

    </form>

  </mat-card>

</section>