<div class="logo">
<img src="../../../assets/images/Path_200.png">
</div>
<div class="all">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <div class="size">
        Already a member?
      </div>
      </mat-card-title>
    </mat-card-header>
    
        <div class="example-container">
            <label><mat-icon class="ic1">perm_identity</mat-icon> </label><span class="g"></span>
            <mat-form-field>
                 <input matInput placeholder="UserName">
            </mat-form-field>
          <br>
          <label> <mat-icon class="ic2">https</mat-icon>  </label><span class="g"></span>
            <mat-form-field>
                <input matInput placeholder="Password">
            </mat-form-field>
          
          </div>
          <div class="si">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Startup</mat-radio-button>
            <mat-radio-button value="2">Investor</mat-radio-button>
          </mat-radio-group>
        </div>
          <div class="card1">
          <mat-card-actions>
              <mat-checkbox>
                <div class="remember">
                Remember me
                </div>
              </mat-checkbox><span class="gapd"></span>
              <mat-label class="forget">Forget password?</mat-label>

            </mat-card-actions>
          </div>
    <mat-card-actions>
      <button class="login" mat-button >LOGIN</button><span class="gap"></span>
      <button class ="signup" mat-button >SIGNUP</button>
    </mat-card-actions>
  </mat-card>
</div>