<div class="title">
  Already a member?
</div>
<div class="all">
    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="UserName">
        </mat-form-field>
      
        <mat-form-field>
            <input matInput placeholder="Password">
        </mat-form-field>
      
      </div>
      <div class="example-button-row">
        <button mat-raised-button color="primary">Login</button>
      </div>    
</div>
<div class="forget">
 <a href="#">forget password?</a> 
</div>
<div class="SignUP">
  <a href="#">SignUP</a> 
 </div>