body{
  background: url(../../../corporate-wallpapers_597871350.png);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}
.all{
    padding-left: 40%;
    padding-top: 5%;
}
.title{
  padding-left: 42%;
  padding-top: 10%;
  width: 280px;
height: 35px;
color: #ffffff;
font-family: Arial;
font-size: 30px;
font-weight: 700;
  /* padding-top: 50%; */

}
.example-container {
    display: flex;
    flex-direction: column;

  }
  
.example-container > * {
    width: 40%;
  }
.mat-raised-button{
   width: 35%;
  }
 .example-button-row{
  padding-left: 2.5%; 
  color: #2699fb;
 }
.forget{
padding-left: 48%;
padding-top: 2%;
}
.forget a:link {
  text-decoration: none;
  width: 144px;
  height: 25px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.SignUP{
  padding-left: 50%;
  padding-top: 1%;
  }
  .SignUP a:link {
    text-decoration: none;
    width: 144px;
    height: 25px;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
  }
  /* matInput{
    margin-left: 240px;
  } */

  