<mat-card class="example-card">
    <mat-card-content>
      <div class="title">What do we do?</div>
      <mat-card class="example-card">
     <p>
       {{data.description}}
     </p>
    </mat-card>
     <div class="title">Industry type?</div>
     <mat-card class="example-card">
     <p>
       {{data.industryType}}
     </p>
    </mat-card>
     <div class="title">Current status?</div>
     <mat-card class="example-card">
     <p>
       {{data.status}}
     </p>
    </mat-card>
     <div class="title">Fund we need?</div>
     <mat-card class="example-card">
     <p>
       {{data.fundNeed}}
     </p>
    </mat-card>
     <div class="title">Capital we have?</div>
     <mat-card class="example-card">
     <p>
       {{data.capital}}
     </p>
    </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="connect">Connect</button>
      <button mat-button>Cancel</button>
    </mat-card-actions>
  </mat-card>
  