.title{
    color: #4d4f5c;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    font-family: "Segoe UI"; 
    font-weight: 400;
}
.connect{
    background-color:  #163651;
    color: aliceblue;
}
.midumtitle{
    color: #4d4f5c;
    font-size: 12px;
}
.investtype{
    width: 50%;
}