<mat-card class="example-card">
    <mat-card-content>
      <div class="title">What do we do?</div>
      <mat-card class="example-card">
     <p>
       {{data.description}}
     </p>
     <div class="title">Industry type?</div>
     <p>
       {{data.industryType}}
     </p>
     <div class="title">Current status?</div>
     <p>
       {{data.status}}
     </p>
     <div class="title">Fund we need?</div>
     <p>
       {{data.fundNeed}}
     </p>
     <div class="title">Capital we have?</div>
     <p>
       {{data.capital}}
     </p>
    </mat-card>
    <div class="title">Do u want to invest on this project?</div>
        <div class="midumtitle">Please choose investment type</div>
      <select #investType class="investtype">
        <option value="Fund">Fund</option>
        <option value="Work together">Work together</option>
      </select>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="connect" (click) = "connectMe(data.id,investType.value)">Connect</button>
      <!-- <button *ngIf="success">Success</button> -->
      <button mat-button>Cancel</button>
    </mat-card-actions>
  </mat-card>
  