<mat-toolbar>
        <span class = "gap">
                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Search">
                      </mat-form-field>      
                      
        </span>
        <span class = "filler"></span>
        <span>
                <p>
                  <mat-icon matBadge="15" matBadgeColor="warn">notification_important</mat-icon>
                  
                </p>
                </span>
        
     </mat-toolbar>