.filler {
    margin-right: 60%;
 }
 /* .gap {
    margin-right: 10px;
 } */
 mat-toolbar {
height: 96px;
background: #e6eaee;
opacity: 0.4;
 }
.example-full-width{
    border-bottom-color: #e6eaee;
    width:100%;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
  }