    
    <section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Create a new Project</mat-card-title>
      <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="createOwner(ownerForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
            <mat-horizontal-stepper>
                    <mat-step>
            <mat-form-field>
                    <input matInput type="text" placeholder="Project Name" formControlName="name" id="name">
                    <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                    <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
                    <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <mat-label>Industry Sector</mat-label>
                    <select matNativeControl required formControlName="sectorselector" id="sectorselector">
                            <option value="technology">Technology</option>
                            <option value="agriculture">Agriculture</option>
                          </select>
                    <mat-error *ngIf="hasError('name','required')">Please choose Industry Sector</mat-error>
                  </mat-form-field>
                  <br>
                        <mat-radio-group #rGroup formControlName="industrySelector" id="industrySelector">
                        <mat-radio-button value="service provider">Service Provider</mat-radio-button>
                        <mat-radio-button value="manfacturer">Manufacturer</mat-radio-button>
                        <mat-radio-button value="both">Both</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="hasError('name','required')">Please choose Industry Sector</mat-error>
                      <br>
                    <mat-form-field>
                            <input matInput type="text" placeholder="Description" formControlName="description" id="description">
                            <mat-hint align="end">Not more then 60 characters long.</mat-hint>
                            <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
                          </mat-form-field>
                          <br>
                        <mat-radio-group #rGroup formControlName="funduneed" id="funduneed">
                                <mat-radio-button value="20000">Below 50,000$</mat-radio-button>
                                <mat-radio-button value="300000">100,000-500,000$</mat-radio-button>
                                <br>
                                <mat-radio-button value="60000">Up to 100,000$</mat-radio-button>
                                <mat-radio-button value="600000"> > 500,000$</mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="hasError('name','required')">Please choose Industry Sector</mat-error>
                        </mat-step>
                        <mat-step>
                        <mat-form-field>
                                <mat-label>The capital you have for startup</mat-label>
                                <select matNativeControl required formControlName="funduhave" id="funduhave">
                                        <option value="20000">Below 50,000$</option>
                                        <option value="300000">100,000-500,000$</option>
                                        <option value="60000">Up to 100,000$</option>
                                        <option  value="600000"> > 500,000$</option>
                                      </select>
                                <mat-error *ngIf="hasError('name','required')">Please choose Industry Sector</mat-error>
                              </mat-form-field>
                           <br>
                                  <mat-radio-group #rGroup formControlName="progress" id="progress">
                                        <mat-radio-button value="idea stage">Idea stage</mat-radio-button>
                                        <mat-radio-button value="establish track record">Establish track record</mat-radio-button>
                                        <br>
                                        <mat-radio-button value="Post revenue with trsction">Post revenue with trsction</mat-radio-button>
                                        <mat-radio-button value="Prototype">Prototype</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-error *ngIf="hasError('name','required')">Please choose Industry Sector</mat-error>
                            </mat-step>
                        </mat-horizontal-stepper>
        </mat-card-content>   
        <mat-card-actions align="center">
          <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Create</button>
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </mat-card-actions>

    </form>

    </mat-card>

</section> 