.action{
    padding-left: 60%;
}
.img{
    width: 50%
}
.example-card{
   padding-left: 30%
}
a{
    text-decoration: none;
    text-decoration-color: none;
}
.kal {
    padding-top: 50px;
  }
  
  table {

  }
  .confirm{
    background-color: #163651;
    color: aliceblue;
  }
  .delete{
    background-color: aliceblue;
    color: black;
    border-color: #163651;
  }
  table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
  }
  
  th.mat-header-cell {
    text-align: left;
    max-width: 70px;
    background-color: #f4f4f5;
    font-size: 12px;
    font-style: bold;
  }
  
  th.mat-cell {
    max-width: 50px;
  }
  
/*   
  th.mat-header-cell {
    text-align: left;
    max-width: 70px;
    background-color: #f4f4f5;
    font-size: 12px;
    font-style: bold;
  } */

