    <form [formGroup]="progress" autocomplete="off" novalidate (ngSubmit)="progressAdd(progress.value,data.id)">
            <div class="example-container">

            
                <mat-form-field>
                    <input matInput  placeholder="Title" formControlName="title">
                    <!-- {{data.id}} -->
                </mat-form-field>
                <br>

                <mat-form-field>
                    <textarea matInput  placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>
                <input type="file"
           id="file" accept="application/pdf"
           (change)="handleFileInput($event.target.files)">
                <br>
                <button class="signup" mat-button id="signup" [disabled]="!progress.valid">Post report</button>
              </div>
              </form>