.tp-container {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
  
   /* background-color: #ffffff; */
   /* background-color: #ffffff !important; */
}
mat-sidenav-container {
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    overflow-y:auto;
}
/* .mat-drawer-backdrop.mat-drawer-shown {
    display:none;
} */

/* mat-sidenav-content{
   background-color: #ffffff; 
} */
.tp-section {
   display: flex;
   align-content: center;
   align-items: center;
   padding-left: 40px;
   height: 60px;
   width:300px;   
}
.tp-section span{
    margin-left: 20px;
    width: 40px;
height: 20px;
color: #163651;
font-family: "Source Sans Pro";
font-size: 14px;
font-weight: 400;
/* Text style for "Home" */
font-family: "Segoe UI";
font-weight: 400;
}
mat-icon {
    width: 24px;
height: 24px;
/* border: 1px solid #707070; */
background: #ffffff;
}
.tp-section .image{
    padding-top: 70px;
}
.tp-container a:link {
    text-decoration: none;
    
}
.navmenu{
    padding-top: 60px;
}