<mat-sidenav-container class = "tp-container">
   <mat-sidenav mode = "side" opened>
      <section class = "tp-section">
        <span><img src="../../assets/images/Path_200.png"></span>
      </section>
      <section class = "tp-section">
         <span><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            Home</span>
      </section>
      <section class = "tp-section">
         <span>Inbox</span>
      </section>
      <section class = "tp-section">
        <span>Startups</span>
     </section>
     <section class = "tp-section">
        <span>Explore</span>
     </section>
   </mat-sidenav>
   <mat-sidenav-content><app-startup-page></app-startup-page></mat-sidenav-content>
</mat-sidenav-container>