<div class="logo">
        <img src="../../../assets/images/Path_200.png">
            </div>
            <div class="all">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>
                    <div class="size">
                    Set New Password
                  </div>
                  </mat-card-title>
                </mat-card-header>
              
                <form [formGroup]="ResponseResetForm" autocomplete="off" novalidate (ngSubmit)="ResetPassword(ResponseResetForm.value)">
                    <div class="example-container">

                      <label> <mat-icon class="ic2">lock</mat-icon>  </label><span class="g"></span>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Password" formControlName="newPassword">
                        </mat-form-field>
                        <br>
                        <label> <mat-icon class="ic2">lock</mat-icon>  </label><span class="g"></span>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                        </mat-form-field>
                        <div *ngIf="doesntmuch">Confirmation password doesn't much with password</div>
                        <br>
                        <button class="signup" mat-button id="signup" [disabled]="!ResponseResetForm.valid">Update Password</button>
                      </div>
                      </form>
               </mat-card>
            </div> 