<div class="all">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>
                <div class="size">
                Registration Form
              </div>
              </mat-card-title>
            </mat-card-header>
            <!-- <mat-form-field>
                           
                    <mat-label>Country</mat-label>
                                <mat-select [(value)]="selected">
                                  <mat-option value="option1">StartUp</mat-option>
                                  <mat-option value="option2">Investor</mat-option>
                                </mat-select>
                         
                              </mat-form-field>
            <div class="si">
            <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Company</mat-radio-button>
                    <mat-radio-button value="2">Individual</mat-radio-button>
                    <mat-radio-button value="3">Other</mat-radio-button>
                  </mat-radio-group>
                </div> -->
                <div class="example-container">
                   <div class="discription">InvestmentSector</div>
                   <mat-form-field>
                           
                        <!-- <mat-label>Country</mat-label> -->
                                    <mat-select [(value)]="selected">
                                      <mat-option value="option1">Technology</mat-option>
                                      <mat-option value="option2">Agriculture</mat-option>
                                    </mat-select>
                             
                                  </mat-form-field>
                                  <div class="discription">Types of investmens you have made before</div>
                                  <section class="example-section">
                                        <mat-checkbox class="example-margin" [(ngModel)]="checked">Grant</mat-checkbox>
                                        <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Dept</mat-checkbox>
                                      </section>
                                      <section class="example-section">
                                            <mat-checkbox class="example-margin" [(ngModel)]="checked">Revenue sharing</mat-checkbox>
                                            <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Equity</mat-checkbox>
                                          </section>
                                          <section class="example-section">
                                                <mat-checkbox class="example-margin" [(ngModel)]="checked">COnvertable note</mat-checkbox>
                                                <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Lease financing</mat-checkbox>
                                              </section>
                    <mat-form-field>
                            <input matInput placeholder="Add Option">
                       </mat-form-field>
                       <div class="discription">Types of investmens you want to make</div>
                       <section class="example-section">
                            <mat-checkbox class="example-margin" [(ngModel)]="checked">Grant</mat-checkbox>
                            <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Dept</mat-checkbox>
                          </section>
                          <section class="example-section">
                                <mat-checkbox class="example-margin" [(ngModel)]="checked">Revenue sharing</mat-checkbox>
                                <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Equity</mat-checkbox>
                              </section>
                              <section class="example-section">
                                    <mat-checkbox class="example-margin" [(ngModel)]="checked">COnvertable note</mat-checkbox>
                                    <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Lease financing</mat-checkbox>
                                  </section>
                       <mat-form-field>
                           <input matInput placeholder="Add option">
                       </mat-form-field>
 
                  </div>
         

          </mat-card>
        </div>
