<div class="all">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>
                <div class="size">
                Registration Form
              </div>
              </mat-card-title>
            </mat-card-header>
            <div class="si">
            <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Company</mat-radio-button>
                    <mat-radio-button value="2">Individual</mat-radio-button>
                    <mat-radio-button value="3">Other</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="example-container">
                   <div class="discription">Description</div>
                    <mat-form-field>
                         <input matInput placeholder="Full Name">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Capital">
                    </mat-form-field>
                    <mat-form-field>
                            <input matInput placeholder="Email">
                       </mat-form-field>
                       <mat-form-field>
                           <input matInput placeholder="Phone">
                       </mat-form-field>
                       <mat-form-field>
                           
                <mat-label>Country</mat-label>
                            <mat-select [(value)]="selected">
                              <mat-option value="option1">StartUp</mat-option>
                              <mat-option value="option2">Investor</mat-option>
                            </mat-select>
                     
                          </mat-form-field>
                  </div>
         

          </mat-card>
        </div>