<div class="view" >
    <div class="about">
        <h2>{{dataMessage[0].name}}</h2>
        <p>{{dataMessage[0].description}}</p>
        <button class="progress" mat-button (click)="addProgress()">Progress report</button>
        </div>
        <mat-card>
          <mat-horizontal-stepper>
            <mat-step [stepControl]="firstFormGroup">
                <ng-template matStepLabel><span>${{dataMessage[0].maximum_fund}}</span><br>Total revenue</ng-template>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
                <ng-template matStepLabel><span>20</span><br>Investors</ng-template>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>{{dataMessage[0].team_members.length}}<br>Team</ng-template>
              <mat-list role="list" *ngFor="let member of dataMessage[0].team_members">
                  <mat-list-item role="listitem" >
                      <div class="separate">
                  <img src="../../../../assets//images/Image_1.png">
                  <br>
                  {{member.first_name}} {{member.last_name}}
                  <br>
                   {{member.email}}
                      </div>
                  </mat-list-item>
                </mat-list>
                
            </mat-step>
          </mat-horizontal-stepper>
        </mat-card>
</div>


