<section class="profile" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-title>Create a new Project</mat-card-title>
    <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="createOwner(ownerForm.value)"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-card-content>
        <mat-horizontal-stepper>
          <mat-step>
            <mat-icon>perm_identity</mat-icon>
            <mat-form-field>
              <input matInput type="text" placeholder="First Name" formControlName="first_name" id="first_name">
              <mat-hint align="left">Not more then 60 characters long.</mat-hint>
            </mat-form-field>
            <br>
            <mat-icon>perm_identity</mat-icon>
            <mat-form-field>
              <input matInput type="text" placeholder="Last Name" formControlName="last_name" id="last_name">
              <mat-hint align="left">Not more then 60 characters long.</mat-hint>
            </mat-form-field>
            <br>
            <mat-icon> email</mat-icon>
            <mat-form-field>
              <input matInput type="text" placeholder="Email" formControlName="email" id="email" readonly>
              <mat-hint align="left">Not more then 60 characters long.</mat-hint>
            </mat-form-field>
            <br>
            <mat-icon>phone</mat-icon>
            <mat-form-field>
              <input matInput type="text" placeholder="Phone" formControlName="phone" id="phone">
              <mat-hint align="left">Not more then 60 characters long.</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input class="datepicker" matInput [matDatepicker]="picker" placeholder="Choose a date of birth"
                formControlName="dateOfBirth" id="dateOfBirth" readonly (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>

          </mat-step>
          <mat-step>
            <mat-icon>address</mat-icon>
            <mat-form-field>
              <input matInput type="text" placeholder="Address" formControlName="address" id="address">
              <mat-hint align="left">Not more then 60 characters long.</mat-hint>
            </mat-form-field>
            <div class="label">
              The fund you need for the startup
            </div>
            <div class="sector">
              <mat-radio-group #rGroup formControlName="education" id="education">
                <mat-radio-button value="bachelors">Bachelors</mat-radio-button>
                <mat-radio-button value="masters">Masters</mat-radio-button>
                <br>
                <mat-radio-button value="phd">PHD</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-form-field>
              <input matInput type="text" placeholder="Address" formControlName="profile" id="profile">
              <mat-hint align="left">Not more then 60 characters long.</mat-hint>
            </mat-form-field>
            <br>
            <mat-icon>work</mat-icon>
            <mat-form-field>
              <input matInput type="text" placeholder="Work space" formControlName="workspace" id="workspace">

            </mat-form-field>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Edit Profile</button>
        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
      </mat-card-actions>

    </form>

  </mat-card>

</section>