.all{
    margin-top: 70px;
    padding-left:40px;
}
mat-card {
    width:700px;
}
mat-form-field{
    width:300px;
    padding-left: 5px;
}
.profile{
    margin-top: 70px;
}
mat-icon{
    color:#163651;
}
/* .datepicker{
    border: 3px;
} */