mat-toolbar {
    height: 96px;
    background:white;
    opacity: 0.4;
     }
 .filler{
     padding-left: 20%;
 }   
 .compose{
    width: 156px;
    height: 36px;
    border-radius: 4px;
    background-color: #163651;  
    color:white;
 } 
 .chat{
    width: 201px;
    height: 370px;
    background-color: #ffffff;
 }
 .list{
    width: 36px;
    color: #4d4f5c;
    font-family: "Source Sans Pro";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    /* Text style for "Drafts" */
    font-family: "Segoe UI";
    font-weight: 400;
 }

 .compose a:link{
     text-decoration: none;
     color: white;
 }
 .example-full-width{
     width:400px;
 }
 /* width: 156px;
height: 36px;
border-radius: 4px;
background-color: #163651; */