<div class="logo">
    <img src="../../../assets/images/Path_200.png">
        </div>
        <div class="all">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>
                <div class="size">
                Forgot password?
              </div>
              </mat-card-title>
            </mat-card-header>
            <form>
                <div class="example-container">

                  <label> <mat-icon class="ic2">person</mat-icon>  </label><span class="g"></span>
                    <mat-form-field>
                        <input matInput  placeholder="Email" >
                    </mat-form-field>
                    <br>
                    <button class="signup" mat-button id="signup">Reset Password</button>
                  </div>
                  </form>
                  <!-- signup -->
          </mat-card>
        </div>